/* index.html에 연결 */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 1000px;
    margin: 0 auto;
}

header {
    height: 60px;
    padding: 10px;
    background: #060;
}

header #logo {
    width: 25%;
    float: left;
    line-height: 60px;
}

#logo h1 {
    color: greenyellow;
    padding-left: 16px;
    font-style: italic;
    font-family: 'Merienda', cursive;
    font-weight: bold;
}

header nav {
    width: 70%;  /* header 크기의 70% */
    float: right;
    text-align: center;
}

nav ul li {
    /* float: right; */
    display: inline-block;
    line-height: 60px;
    list-style: none;
    margin: 0 16px;
}

nav ul li a {
    color: #faa;
    text-decoration: none;
}

main {
    height: 600px;
    padding: 6px;
    border: 5px solid #ccc;
}

main h2 {
    margin: 10px 20px;
}

section {
    float: left;
    width: 30%;  /* mian 크기의 31% */
    height: 520px;
    border: 1px dotted #ccc;
    margin: 5px;
    padding: 5px;
}

section h3 {
    padding: 16px 32px;
    background: url(../images/dot.png) no-repeat;
    background-position: 12px 24px;  /* x좌표, y좌표 */
}

section dl dt {
    font-weight: bold;
}

section dl dd {
    margin-bottom: 16px;
}

aside {
    clear: both;
    padding: 40px 20px;
    background: greenyellow;
}

aside img {
    float: left;
    margin: 10px 100px 10px 40px;
    border-radius: 10px;
}

aside h3 {
    padding-left: 30px;
}

aside ul li {
    margin: 10px 60px;
}

ul li a:hover {
    color: greenyellow;
}

footer {
    padding: 20px 10px;
    background: #555;
}

footer p {
    text-align: center;
    color: #fdd;
}